* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #E7E3DC;
    font-size: 13px;
    font-family: 'Helvetica light', Arial, sans-serif;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header_nav {
    display: flex;
    justify-content: center;
    width: 933px;
    height: 50px;
    position: 23px 0px;
    margin: 23px 0px -9px 23px;
}

ul {
    display: flex;
    list-style: none;
    text-align: center;
}

.header_nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0px 15px 0px;
    border: 0;
    outline: 0;
    height: 50px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.name {
    width: 600px;
    height: 177px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.esquina {
    width: auto;
    height: auto;
}
.rt {
    display: grid;
    justify-content: end;
}
.rb {
    display: grid;
    align-items: end;
}
.lb {
    display: grid;
    justify-content: end;
    align-items: end;
}

.svg_name { 
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 533px;
    height: 151px;
}

.absolute {
    position: absolute;
    
}

.font {
    line-height: normal;
    text-align: center;
    font-size: 40px;
    font-family: 'Helvetica';
}

.font2 {
    line-height: normal;
    text-align: center;
    font-size: 20px;
    font-family: 'Enriqueta';
    margin-top: 20px;
}